<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.mapper.DemoMapper">
  <select id="getB" resultType="java.lang.Integer">
      select b from test1 where a=#{a}
  </select>

  <select id="getUserDetils" resultType="com.demo.model.DemoUserDetails">
    select * from test_account where username=#{username}
  </select>
</mapper>
