<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
  <context:annotation-config></context:annotation-config>
  <context:component-scan base-package="com.demo"/>

  <beans:bean id="userDetailsService" class="com.demo.security.DemoUserDetailsService"/>

  <beans:bean id="rememberMeService" class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
    <beans:constructor-arg name="userDetailsService" ref="userDetailsService"/>
    <beans:constructor-arg name="key" value="demo"/>
    <!--<beans:property name="parameter" value="_demo"/>-->
    <beans:property name="alwaysRemember" value = "true"/>
    <beans:property name="tokenValiditySeconds" value="604800"/>
  </beans:bean>

  <beans:bean id="logoutSuccessHandler" class="com.demo.security.DemoLogoutSuccessHandler"/>

  <!--<beans:bean id="encoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"/>-->

  <beans:bean id="authenticationProvider" class="com.demo.security.DemoAuthenticationProvider">
    <beans:property name="userDetailsService" ref="userDetailsService"/>
    <!--<beans:property name="passwordEncoder" ref="encoder"/>-->
  </beans:bean>

  <security:authentication-manager alias="authenticationManager">
    <security:authentication-provider ref="authenticationProvider"/>
  </security:authentication-manager>

  <beans:bean id="failureHandler" class="com.demo.security.DemoAuthenticationFailureHandler"/>
  <beans:bean id="successHandler" class="org.springframework.security.web.authentication.ForwardAuthenticationSuccessHandler">
    <beans:constructor-arg name="forwardUrl" value="/"/>
  </beans:bean>

  <beans:bean id="loginFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
    <beans:property name="authenticationManager" ref="authenticationManager"/>
    <beans:property name="rememberMeServices" ref="rememberMeService"/>
    <beans:property name="authenticationFailureHandler" ref="failureHandler"/>
    <beans:property name="authenticationSuccessHandler" ref="successHandler"/>
    <beans:property name="usernameParameter" value="username"/>
    <beans:property name="passwordParameter" value="password"/>
    <beans:property name="filterProcessesUrl" value="/account/ns/login.ajax"/>
  </beans:bean>

  <beans:bean id="entryPoint" class="com.demo.security.DemoLoginUrlAuthenticationEntryPoint">
    <beans:constructor-arg name="loginFormUrl" value="/account/ns/login#/page/login"/>
  </beans:bean>

  <security:http pattern="/app/**" security="none"/>

  <security:http name="user" create-session="stateless" auto-config="false" use-expressions="true" entry-point-ref="entryPoint">
    <security:csrf disabled="true"/>
    <security:headers disabled="true"/>


    <security:intercept-url pattern="/**/ns/**" access="permitAll"/>
    <security:intercept-url pattern="/" access="hasAnyAuthority('USER_ROLE')"/>
    <security:intercept-url pattern="/**" access="hasAnyAuthority('USER_ROLE')"/>

    <security:custom-filter ref="loginFilter" before="FORM_LOGIN_FILTER"/>
    <security:remember-me services-ref="rememberMeService" key="demo"/>
    <security:logout logout-url="/account/ns/logout" success-handler-ref="logoutSuccessHandler"/>
  </security:http>
</beans>
